.login {
    margin-top: 50px;
    padding: 50px;
    font-family: 'Mohave', sans-serif;
    height: calc(100vh-50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: whitesmoke;
    justify-content: center;
}

.loginTitle {
    font-size: 50px;
}

.loginForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.loginForm>label {
    font-weight: 500;
    margin: 10px 0px;
}

.loginInput {
    padding: 10px;
    background-color: white;
    border: none;
}

.loginBtn {
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    color: whitesmoke;
    border-radius: 10px;
    padding:10px;
}

.registerBtn {
    margin-top: 20px;
    cursor: pointer;
    background-color: lightgreen;
    border: none;
    color: whitesmoke;
    border-radius: 10px;
    padding: 10px;
}