.single {
    flex: 9;
}

.singleWrapper {
    padding: 20px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
}

.singleImg {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.singleTitle {
    text-align: center;
    margin: 10px;
    font-size: 30px;
    font-family: 'Mohave', sans-serif;
}

.singleEdit {
    float: right;
    font-size: 30px;
}

.singleIcon {
    margin-right: 10px;
    cursor: pointer;
}

.singleEdit> :first-child {
    color: teal;
}

.singleEdit> :last-child {
    color: tomato;
}

.singleInfo {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-family: 'Mohave', sans-serif;
    color: #b6b6b6;
}

.singleDesc {
    color: #666;
    font-size: 18px;
    line-height: 25px;
}

.singleDesc::first-letter {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 700;
}

.singlePostTitleInput {
    margin: 10px;
    font-family: 'Mohave', sans-serif;
    font-size: 28px;
    text-align: center;
    border: none;
    color: gray;
    border-bottom: 1px solid lightgray;
}

.singlePostTitleInput:focus {
    outline: none;
}

.singlePostDescInput {
    margin: 10px;
    font-family: 'Mohave', sans-serif;
    font-size: 18px;
    text-align: center;
    border: none;
    color: gray;
    border-bottom: 1px solid lightgray;
}

.singlePostDescInput:focus {
    outline: none;
}

.singlePostButtonSave {
    font-family: 'Mohave', sans-serif;
    font-size: 18px;
    width: 100px;
    border: none;
    background-color: teal;
    padding: 10px;
    color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
    align-self: center;
    margin-top: 20px;
}