.profile {
    display: flex;
    font-family: 'Mohave', sans-serif;
}

.profileWrapper {
    flex: 9;
    padding: 20px;
}

.profileTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profileUpdate {
    font-size: 30px;
    color: lightcoral;
}

.profileDelete {
    color: red;
    font-size: 12px;
    cursor: pointer;
}

.profileForm {
    display: flex;
    flex-direction: column;
}

.profileAttr {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.profileImg {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.profileIcon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid;
    color: teal;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
}

.profileForm>label {
    font-size: 20px;
    margin-top: 20px;
}

.profileForm>input {
    color: gray;
    margin: 10px 0px;
    height: 30px;
    border: none;
    border-bottom: 1px solid lightgray;
}

.profileSubmitBtn {
    width: 150px;
    align-self: center;
    border: none;
    border-radius: 10px;
    color: whitesmoke;
    background-color: teal;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}